<script>
<%= active_table_javascript %>
</script>

<% action_panel do |p| %>
 <%= p.link 'Add a new location',:icon => 'add.gif',:action => 'edit' %>
 <%= p.link 'Download Locations',:icon => 'download.gif',:action => 'download' %>
<% end -%>

<hr/>
<div class='admin_content'>
<div id='location_table'>
  <%= render :partial => 'location_table' %>
</div>
</div>
